<h1>Recent Replies</h1>



<div class="ui threaded comments">
  <h3 class="ui dividing header"><i class="comment icon"></i><%= @replies.count %>
 Comments</h3>

    <% @replies.each do |reply| %>

    <div class="comment">
      <!-- <a class="avatar">
        <img src="app/assets/images/avatars/blankavatar.jpg">
      </a> -->
      <div class="ui raised segment">

      <div class="content">
        <a class="author"><i class="user circle outline icon"></i>
<%= link_to reply.user.username, user_path(reply.user) %></a>
        <div class="metadata">
          <span class="date"> <%=reply.created_at.localtime.strftime("%I:%M%p") %></span>

        </div>
        <div class="metadata"> Post from:
          <% if reply.post.name.length > 50 %>
            <%= link_to reply.post.name[0..49] + "...", post_path(reply.post) %>
          <% else %>
            <%= link_to reply.post.name, post_path(reply.post) %>
          <% end %>
        <% if @logged_in_user.username == reply.user.username %>
        <%= link_to 'Delete Reply', reply, method: :delete, data: { confirm: 'Are you Really sure you want to delete your post? There is no going back.' } %>
        <% end %>
      </div>

        <div class="text">
          <%=reply.content %>
        </div>
      </div>
    </div>


<% end %>
</div>
