<h1>Create Profile</h1>


<% unless @user.errors.full_messages.empty? %>
<%= @user.errors.full_messages %>
<% end %>

<%= form_for @user do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>
<%= f.label :password %>
<%= f.text_field :password_digest %>
<%= f.submit "Create Profile" %>

<% end %>
