<div class="text-center">
  <br>
  <h3>Create Profile</h3>
  <p><i>Password must be at least 6 characters</i></p>
  <br>


  <% unless @user.errors.full_messages.empty? %>
  <%= @user.errors.full_messages %>
  <% end %>
  <div class="ui input">

  <%= form_for @user do |f| %>
  <div class="ui input">
  <%= f.text_field :username, placeholder: "Username" %>
  </div>
  <div class="ui input">
  <%= f.password_field :password, placeholder: "Password" %>
  </div>
  <!-- <div class="ui basic black button"> -->

  <%= f.submit "Create Profile", class: "ui basic black button" %>

  <!-- </div> -->
  <% end %>
  </div>
</div>
