<h1 class="username-header"><%= @user.username %></h1>

<%  if @logged_in_user.username == @user.username %>
<h2>Welcome <%= @logged_in_user.username %>!</h2>
<% end %>



<div class="ui threaded comments">
  <h3 class="ui dividing header"><i class="comment icon"></i>
 <%= @user.username %>'s Comments</h3>

    <% @user.replies.each do |reply| %>

    <div class="comment">
      <i class="user circle outline icon"></i>
      <div class="content">
        <a class="author"><%= link_to reply.user.username, user_path(reply.user) %></a>
        <div class="metadata">
          <span class="date"> <%=reply.created_at.strftime("%I:%M%p") %></span>
        </div>
        <div class="metadata"> Post from:
          <% if reply.post.name.length > 50 %>
            <%= link_to reply.post.name[0..49] + "...", post_path(reply.post) %>
          <% else %>
            <%= link_to reply.post.name, post_path(reply.post) %>
          <% end %>
        </div>
        <div class="text">
          <%=reply.content %>
        </div>
      </div>
    </div>


<% end %>
</div>
