
<h3>Please login below</h3>

<%= form_tag login_index_path do %>
<ul>
  <!-- <li> -->
    <%= label_tag :username %>
    <div class="ui input">
    <%= text_field_tag :username %>
    </div>
  <!-- </li> -->
  <!-- <li> -->
    <%= label_tag :password %>
    <div class="ui input">
    <%= password_field_tag :password %>
    </div>
  <!-- </li> -->
</ul>
<%= submit_tag "Log in" %>
<% end %>
