<% if @logged_in %>

<h1>New Post</h1>

<% unless @post.errors.full_messages.empty? %>
<%= @post.errors.full_messages %>
<% end %>

<%= form_for @post do |f| %>
<%= f.label :name %>
<div class="ui input">
  <%= f.text_field :name %>
</div>
<%= f.label :content %>
<div class="ui input">
  <%= f.text_field :content %>
</div>

<%= f.hidden_field :user_id, value: @logged_in_user.id %>
<%= f.collection_select(:section_id, Section.all, :id, :name) %>
<%= f.submit "Create Post", class: "ui black basic button" %>

<% end %>
<% else %>
<h1>Sorry, you must be logged in to create a post. Please login and try again.</h1>

<%= form_tag login_index_path do %>
<ul>
  <li>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </li>
  <li>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </li>
</ul>
<%= submit_tag "Log in" %>
<% end %>

<% end %>
