<!-- <div class="post-header"> -->

<h2><%= @post.name %></h2>

<p><%= @post.content %></p>


<!-- </div> -->
<p>Posted by <%= link_to @post.user.username, user_path(@post.user) %> at <i><%= @post.created_at.localtime.strftime("%I:%M%p %m/%d/%y") %></i></p>
<br>


<div class="ui threaded comments">
  <h3 class="ui dividing header">
    <h3><i class="comment icon"> </i>
      <% if @post.replies.count > 1 %>
       <%= @post.replies.count %> Comments
       <% else %>
       <%= @post.replies.count %> Comment
       <% end %>
    </h3>


    <% @post.replies.each do |reply| %>

    <div class="comment">
      <!-- <a class="avatar">
      <img src="app/assets/images/avatars/blankavatar.jpg">
    </a> -->
    <div class="ui raised segment">

    <div class="content">
      <a class="author"><%= link_to reply.user.username, user_path(reply.user) %></a>
      <div class="metadata">
        <span class="date"> <%=reply.created_at.localtime.strftime("%I:%M%p") %></span>
      </div>

      <div class="text">
        <%=reply.content %>
      </div>
    </div>
  </div>
  </div>


<!-- <hr> -->


  <% end %>
  <br>
  <hr>

  <%= form_tag replies_path do %>
  <%= label_tag :content %>
  <div class="ui input">
  <%= text_field_tag :content %>
  <%= hidden_field_tag :post_id, @post.id %>
  </div>

  <%= submit_tag "Submit Reply" %>
  <%end%>
<br>


<% if @logged_in_user.username == @post.user.username %>
  <button class="ui button">
    <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you Really sure you want to delete your post? There is no going back.' } %></button>
    <% end %>
