<!DOCTYPE html>
<html>
<head>
  <title>ProjectVer2</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</head>

<body>
  <br>
  <hr>
  <header>


    <%  if @logged_in %>
    <h3>Logged in as <%= link_to @logged_in_user.username, user_path(@logged_in_user) %></h3>
    <br>
    <button class="ui button">
      <%= link_to "logout", logout_path, method: :delete %>
    </button>
    <% else %>
    <button class="ui button">
      <%= link_to "Sign up", new_user_path %>
    </button>
    <button class="ui button">
      <%= link_to "Log in", new_login_path %>
    </button>

    <% end %>



    <button class="ui button">
      <%= link_to "Users", users_path %>

    </button>
    <button class="ui button">
      <%= link_to "Sections", sections_path %>
    </button>
    <button class="ui button">
      <%= link_to "Recent Posts", posts_path %>
    </button>
    <button class="ui button">
      <%= link_to "Recent Replies", replies_path %>
    </button>
  </header>

  <%= yield %>
</body>
</html>
